In [2]:
import pandas as pd
import datetime as dt

In [3]:
file = pd.read_csv("temp.csv",parse_dates=["datetime"],index_col=["datetime"])
df = file
print(df.head())

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [4]:
#df.info()
df.index[2222]

Timestamp('2013-04-03 14:00:00')

In [10]:
df.loc["2013-01-02" : "2013-02-03"]

                       LA   NY
datetime
2013-01-02 00:00:00  13.2  2.6
2013-01-02 01:00:00  11.8  2.7
2013-01-02 02:00:00  10.5  2.9
2013-01-02 03:00:00   9.5  2.9
2013-01-02 04:00:00   8.3  2.9
...                   ...  ...
2013-02-03 19:00:00  18.5 -1.7
2013-02-03 20:00:00  18.1 -2.1
2013-02-03 21:00:00  17.8 -2.4
2013-02-03 22:00:00  17.8 -2.7
2013-02-03 23:00:00  17.4 -3.0

[792 rows x 2 columns]

In [20]:
df.resample("D").mean()

                   LA         NY
datetime
2013-01-01   8.858333  -0.404167
2013-01-02   9.283333   3.208333
2013-01-03  10.304167  -2.425000
2013-01-04  11.512500  -2.070833
2013-01-05  11.083333   0.816667
...               ...        ...
2016-12-27  12.154167  10.579167
2016-12-28  14.433333   4.016667
2016-12-29  16.045833   1.312500
2016-12-30  15.933333   2.204167
2016-12-31  13.275000   1.204167

[1461 rows x 2 columns]